.container {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease-in-out;
}

.container.expanded {
  grid-template-rows: 1fr;
}

.container .container--inner {
  overflow: hidden;
}
